*{

box-sizing:border-box;

}

body{

margin:0;

font-family:'Georgia',serif;

background:#000;

color:white;

min-height:100vh;

overflow-x:hidden;

}

/* bintang background */

.stars{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:

radial-gradient(white 1px, transparent 1px);

background-size:45px 45px;

opacity:0.15;

z-index:-1;

}

.container{

max-width:850px;

margin:auto;

padding:40px 20px;

text-align:center;

}

/* opening */

#opening{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

#opening h1{

font-size:45px;

color:#d4af37;

text-shadow:0 0 20px #d4af37;

}

#opening p{

font-size:20px;

color:#fff;

}

/* foto */

.foto{

width:260px;

height:260px;

object-fit:cover;

border-radius:50%;

border:4px solid #d4af37;

box-shadow:

0 0 25px #d4af37;

}

/* judul */

h1{

font-size:45px;

color:white;

}

h2{

color:#d4af37;

}

.card{

margin-top:35px;

background:#0d0d0d;

border:1px solid #d4af37;

padding:35px;

border-radius:25px;

box-shadow:

0 0 30px rgba(212,175,55,.25);

text-align:left;

line-height:1.8;

font-size:17px;

animation:show 1.5s;

}

@keyframes show{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

}

}

button{

margin-top:35px;

padding:16px 40px;

border-radius:50px;

border:none;

background:#d4af37;

color:#000;

font-size:18px;

font-weight:bold;

cursor:pointer;

box-shadow:

0 0 20px #d4af37;

}
