*{

box-sizing:border-box;

}

body{

margin:0;

font-family:'Georgia', serif;

background:#000;

color:white;

min-height:100vh;

overflow-x:hidden;

}

/* Background bintang */

.stars{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background-image:

radial-gradient(white 1px, transparent 1px);

background-size:50px 50px;

opacity:0.15;

z-index:-1;

}

.container{

max-width:850px;

margin:auto;

padding:40px 20px;

text-align:center;

}

/* Halaman awal */

#opening{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

#opening h1{

font-size:45px;

color:#d4af37;

text-shadow:

0 0 20px #d4af37;

}

#opening p{

font-size:20px;

color:white;

max-width:500px;

}

/* Foto Ayu */

.foto{

width:260px;

height:260px;

object-fit:cover;

border-radius:50%;

border:5px solid #d4af37;

box-shadow:

0 0 35px #d4af37;

margin-top:20px;

}

/* judul */

h1{

font-size:20px;

color:white;

}

#message h1{

font-size:32px;

}

h2{

color:#d4af37;

}

/* Isi surat */

.card{

margin-top:40px;

background:#0b0b0b;

border:1px solid #d4af37;

padding:35px;

border-radius:25px;

box-shadow:

0 0 40px rgba(212,175,55,0.2);

text-align:left;

line-height:1.9;

font-size:17px;

animation:

muncul 1.5s ease;

}

@keyframes muncul{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

/* Tombol */

button{

margin-top:35px;

padding:17px 45px;

border-radius:50px;

border:none;

background:#d4af37;

color:#000;

font-size:18px;

font-weight:bold;

cursor:pointer;

box-shadow:

0 0 25px #d4af37;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

/* tampilan HP */

@media(max-width:600px){

#opening h1{

font-size:35px;

}

h1{

font-size:35px;

}

.foto{

width:210px;

height:210px;

}

.card{

padding:25px;

font-size:16px;

}

}
